[workspace]
resolver = "2"

[workspace.lints.clippy]
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
todo = "deny"
unimplemented = "deny"

[package]
name = "qwq"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"

[lints]
workspace = true
